@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

@theme {
  --color-mc-green: #89A86E;
  --color-mc-light: #EEF7E9;
  --font-Lora: "Lora";
  --font-Noto: "Noto Serif";
  --font-Quicksand: "Quicksand";
}
